doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
body
  .align
  .canvas
  .velcome
    h2 Cornichon

  .parts
    textarea(autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false") [9d] [qey] s [6a] [80r] p [9d] [qey] f d s a s [6a] [80r] p [qs] [et] a [8u] [0wr] [qs] [et] d s a s a [8u] [0wr] [9dz] [qey] [sl] [6ak] [80r] [pj] [9dz] [qey] f d s a s [6ak] [80r] p [qsl] [et] [ak] [8uf] [0w] [qsl] [et] d s a s a [8uf] [0w] [9d] u [qeyi] u [qeyi] u [9d] u [qeyi] s [qeyu] i [6a] y [80eu] y [80eu] y [6p] t [80ey] u [80ey] t [9d] u [qeyi] u [qeyi] u [9d] u [qeyi] s [qeyu] i [6a] y [80eu] y [80eu] y [6p] t [80ey] u [80ey] t [qs] u [eti] u [eti] u [qs] u [eti] u [eti] u [8s] y [0wu] y [0wu] y [8u] y [0wt] u [0wy] t [qs] u [eti] u [eti] u [qs] u [eti] u [eti] u [8s] y [0wu] y [0wu] y [8u] y [0wt] u [0wy] t [9d] u [qeyi] u [qeyi] u [9f] u [qeyi] s [qeyu] i [6a] y [80eu] y [80eu] y [6p] t [80ey] u [80ey] t [9d] u [qeyi] u [qeyi] u [9f] u [qeyi] s [qeyu] i [6a] y [80eu] y [80eu] y [6/lp] t [80ey] u [80ey] t [qs] u [eti] u [eti] u [qs] u [eti] a [etu] i [8o] y [0wu] y [0wu] y [8u] y [0wt] u [0wy] t [qs] u [eti] u [eti] u [qs] u [eti] a [etu] i [8o] y [0wu] y [0wu] y [8u] y [0wt] u [0wy] t [9d] e y u i p i [uf] [yg] [ef] [9g] [ef] [6p] 0 e r t u t r [ea] 0 6 [0s] [9d] e y u i p i [uf] [yg] [ef] [9g] [ef] [6p] 0 e r t u t r e 0 6 [0o] [4p] 8 q w e t e [wa] [qs] [8a] [4s] [8a] [1u] 5 8 9 0 w 0 9 [8i] 5 1 [5o] [4p] 8 q w e t e [wa] [qs] [8a] [4s] [8a] [1u] 5 8 9 0 w 0 9 8 5 1 5 [9z] e y u i p [il] u y e 9 e [6k] 0 e r t u [tj] r e 0 6 0 [9z] e y u i p i [ux] [yz] [el] [9k] [el] [6k] 0 e r t u [tj] r e 0 6 0 [4l] 8 q w e t e w q 8 4 [8k] [1f] 5 8 9 0 w 0 9 [8g] 5 [1f] 5 [4l] 8 q w e t e [wz] [ql] [8k] [4l] [8k] [1f] 5 8 9 0 w 0 9 8 5 1 5 [9z] [ef] [yg] [uf] [ig] [pf] [iz] [uf] [yg] [el] [9f] [eg] [6k] [0d] [ef] [rd] [tf] [ud] [tj] [rs] [ed] [0f] [6d] [0s] [9z] [ef] [yg] [uf] [ig] [pf] [iz] [uf] [yg] [el] [9f] [eg] [6k] [0d] [ef] [rd] [tf] [ud] [tj] [rs] [ed] [0f] [6d] [0s] [4l] [8f] [qg] [wf] [eg] [tf] [el] [wf] [qg] [8f] [4g] [8f] [1l] [5d] [8f] [9d] [0f] [wd] [0f] [9d] [8s] [5f] [1d] [5s] [4l] [8f] [qg] [wf] [eg] [tf] [el] [wf] [qg] [8f] [4g] [8f] [1l] [5d] [8f] [9d] [0f] [wd] [0f] [9d] [8s] [5f] [1d] [5s] [9d] [qey] s [6a] [80e] p [9d] [qey] f d s a s [6a] [80ep]
    .controls
      button#play play
  .sources

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

