doctype html
head
  meta(charset='UTF-8')
  title Le sel
body

  .parts
    textarea [8a] s a o [ea] s a o [0u] 0 [8a] s a o [ea] s a o [0u] 0 f [8d] s f [ed] s f [0f] a f [8d] s f [ed] s f [0f] a [8a] s [8a] o [ea] s [ea] o [0u] 0 0 0 [8a] s [8a] o [ea] s [ea] o [0u] 0 0 0 f [8d]
    button#play play
  .sources

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

