//- 34 Blacks
ul.blacks
  li(data-note='b49')
  li(data-note='b50')
  li.none
  li(data-note='b52')
  li(data-note='b53')
  li(data-note='b54')
  li.none
  li(data-note='b56')
  li(data-note='b57')
  li.none
  li(data-note='b81')
  li(data-note='b87')
  li(data-note='b69')
  li.none
  li(data-note='b84')
  li(data-note='b89')
  li.none
  li(data-note='b73')
  li(data-note='b79')
  li(data-note='b80')
  li.none
  li(data-note='b83')
  li(data-note='b68')
  li.none
  li(data-note='b71')
  li(data-note='b72')
  li(data-note='b74')
  li.none
  li(data-note='b76')
  li(data-note='b90')
  li.none
  li(data-note='b67')
  li(data-note='b86')
  li(data-note='b66')

//- 37 Whites
ul.whites
  li(data-note='a49')
  li(data-note='a50')
  li(data-note='a51')
  li(data-note='a52')
  li(data-note='a53')
  li(data-note='a54')
  li(data-note='a55')
  li(data-note='a56')
  li(data-note='a57')
  li(data-note='a48')
  li(data-note='a81')
  li(data-note='a87')
  li(data-note='a69')
  li(data-note='a82')
  li(data-note='a84')
  li(data-note='a89')
  li(data-note='a85')
  li(data-note='a73')
  li(data-note='a79')
  li(data-note='a80')
  li(data-note='a65')
  li(data-note='a83')
  li(data-note='a68')
  li(data-note='a70')
  li(data-note='a71')
  li(data-note='a72')
  li(data-note='a74')
  li(data-note='a75')
  li(data-note='a76')
  li(data-note='a90')
  li(data-note='a88')
  li(data-note='a67')
  li(data-note='a86')
  li(data-note='a66')
  li(data-note='a78')
  li(data-note='a77')
