script(type="text/template", id="tpl-feed-mood")
  .avatar
  .title {{title}}

script(type="text/template", id="tpl-feed-status")
  .avatar
  p zz

script(type="text/template", id="tpl-feed-memory")
  .avatar

script(type="text/template", id="tpl-feed-group")
  .avatar

script(type="text/template", id="tpl-feed-event")
  .avatar
